/* src/App.css */
.App {
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: steelblue;
    display: flex;
    justify-content: left;
}

.container {
    padding-left: 25%;
    padding-top: 20px;
}